<h2>Comment</h2>

<form class="form comment-form">
  <div class="form-group">
    <label for="comment_text">Comment:</label>
    <input class="form-input" type="text" id="comment_text" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Add Comment</button>

  </div>
</form>

<script src="/js/comment.js"></script>