.header-wrapper div {
    background-color: indigo;
}

.nav-wrapper  {
    background-color: indigo;
}

h6 {
    color: yellow;
}

.logo-header {
    background-color: indigo;
    color: white;
    margin:0px 0px 10px 0px;
    padding: 0px 0px 10px 10px;
    width: 100%;
    height: 100%;
    font-size: 36px;
}

.logo-header h4 {
    margin-left: 20px;
}

.card {
    background-color: indigo;
    color: white;
}

.blogTitle {
    display: flex;
    justify-content: space-between;
}

.card-title {
    color: yellow;
}

.commentLine {
    display: flex;
    justify-content: space-between;
}

.deleteLine {
    display: inline;
    justify-content: space-between;
}

.footer {
    margin-top: 50px;
}